/* Links */
a {
  color: #ff9090;
  text-decoration: none;
  font-weight: bold;
}

/* Tip box border */
.tip-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 25px;
  border-left: 5px solid #ff9090;  /* changed */
}

/* Print Button */
button {
  padding:10px 20px;
  background:#ff9090; /* changed */
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
